@charset "UTF-8";

img {
    object-fit: cover;
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

.sub img{
    height: auto;
    width: 300px;
}
/* :hover .skill-content img{
    border:1px solid black;
} */
dialog img{
    width: 33%;
    max-height: 33%;
}
/* nav */
.flex-row{
    display: flex;
    flex-direction: row;
    list-style:none;
    padding: 0;
    gap: 10px;
    flex-wrap:wrap;
    justify-content: flex-end;
}
#my{
    text-align: center;
    margin-top: 8px;
}
/* megane */

.my-content{
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 8px;
}
.my-img-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
.my-text{
    margin: auto;
    padding: 4%;
}
.my-content img{
    border-radius: 50%;
    width:33%;
}
.my-content p{
    font-weight: bold;
}

/* skill */
.contents-title{
    text-align: center;
}
.skill-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skill-content img{
    width: 33%;
    max-height: 33%;
    margin-bottom: 8px;
}

#skill-category{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

/* h2color */
.skill-header{
    background-color: red;
}
.dev-header{
    background-color: orange;
}
.license-header{
    background-color: yellow;
}
.application-header{
    background-color: green;
}
.qa-header{
    background-color: aqua;
}
