@charset "UTF-8";

img {
    object-fit: cover;
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

.sub img{
    width: 300px;
}
/* :hover .skill-content img{
    border:1px solid black;
} */
 dialog img{
    width: 33%;
    max-height: 33%;
}
.flex-row{
    display: flex;
    flex-direction: row;
    list-style:none;
    padding: 0;
    gap: 10px;
    flex-wrap:wrap;
}
button.img{
    height: auto;
    width: 10%;
}