<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
    <title>簡易POSシステム</title>
</head>
<body>
    <div id="sell">
    <h1>販売画面</h1>
    <form id="sell-product" @submit.prevent="checkOut">
        <table class="select-product">
            <!-- 商品購入画面上部 -->
            <tr>
                <td>商品名</td>
                <td>価格（税抜き）</td>
                <td>個数</td>
                <td>小計</td>
            </tr>
            <!-- 購入商品一覧 -->
            <tr v-for="item in cartItems" :key="item.id">
                <td>
                    <label>
                    <select name="scan-product" v-model="item.selectedProduct"
                    class="form-control w-75 mx-auto p-2">
                        <option :value="null">商品を選択してください</option>
                        <option v-for="product in products" :key="product.id"
                            :value="product">{{product.name}}</option>
                    </select>
                    </label>
                </td>
                <td>
                    <span v-if="item.selectedProduct" id="unit-price" >{{item.selectedProduct.price}}</span>
                    <span v-else id="unit-price" >0</span>円
                </td>
                <td>
                    <label>
                    <input name="buy-number" id="buy-number"
                    placeholder="1"
                    v-model.number="item.quantity" min="1"
                    ></input>
                    </label>
                </td>
                <td>
                    <span id="subtotal-price"
                    v-if="item.selectedProduct">
                    {{item.selectedProduct.price*item.quantity}}</span>
                    <span v-else>0</span>円
                </td>
            </tr>
        </table>
        <!-- 合計 -->
        <section class="calc d-flex justify-content-end">
            <div>
                <table>
                    <tr>
                        <td>消費税</td>
                        <td>
                            <span>{{tax}}</span>円
                        </td>
                    </tr>
                    <tr>
                        <td>合計金額</td>
                        <td>
                            <span>{{totalWithTax}}</span>円
                        </td>
                    </tr>
                    <tr>
                        <td>現金</td>
                        <td>
                            <input type="number" 
                            v-model.number="inputMoney" min="0"></input>円
                        </td>
                    </tr>
                    <tr>
                        <td>おつり</td>
                        <td>
                            <span>{{outputChange}}</span>円
                        </td>
                    </tr>
                    
                </table>
            </div>
        </section>
        <input type="text">
        <button type="submit"
        class="btn btn-success">清算</button>

    </form>
        <footer>
            <button class="btn btn-info "><a href="pos.html">業務選択画面に戻る</a></button>
        </footer>
    </div>
        

    <script src="./data/data.js"></script>
    <script src="./data/history_data.js"></script>
    <script src="./js/sell.js"></script>
</body>
</html>